<ol>
  <li>{{message.question}} <br> {{message.author}} <br> {{message.info}}
  </li>
</ol>
<br><br>
<button {{action 'delete' message}}>Delete message</button>
<br>
<h3>All Answers</h3>
<ul>
  {{#each messages.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
